<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81518144297-3g3nj41mf285fgh4r7ar5clp9d6i3d19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81518144297-3g3nj41mf285fgh4r7ar5clp9d6i3d19</string>
	<key>API_KEY</key>
	<string>AIzaSyBU7Dq7gPG-628Z9Sbp-j9-6C6QUn-LijU</string>
	<key>GCM_SENDER_ID</key>
	<string>81518144297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHelpfulApp</string>
	<key>PROJECT_ID</key>
	<string>study-app-6a82c</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-6a82c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81518144297:ios:981cfb22447f6cae3fa538</string>
</dict>
</plist>